/* 방 내놓기 css */
.market-main{
	padding-top:50px;
	padding-left:150px;
	width:100%;
	margin: auto;
}
.market-title{
	text-align:center;	
	padding-bottom:50px;
}
.market-title b{
	font-size:26px;
}
.market-content-first p{
	padding-left:20px;	
	font-size:20px;
}
.market-content-first{
	/* padding-left:20px; */
	padding-top:30px;
	width : 100%;
    height: 150px;
    border: 1px solid #d3d3d3;
}
.market-content-second{
/* 	padding-left:20px; */
	width : 100%;
    height: 90px;
    border: 1px solid #d3d3d3;
    margin-top:20px;
}
.market-title2{
	text-align:center;	
	padding-bottom:50px;
	margin-top:25px;
}
.market-title2 b{
	font-size:26px;
	
}
.market-gps-second{
/* 	padding-left:20px; */
	width : 100%;
    height: 90px;
    border: 1px solid #d3d3d3;
    margin-top:20px;
}
.market-gps{
	text-align:center;	
	padding-bottom:30px;
	margin-top:25px;
	padding-left:250px;
}
.market-gps span b{
	float:right;
	font-size:13px;
	color:#d7d7d7;
	padding-top:5px;
	padding-right:10px;
}
.market-gps b{
	font-size:26px;
	text-align:center;
	margin-bottom:10px;
}
.gps-title{
	width:200px;
	height:300px;
	background-color:#f1f1f1;
}
.sort-gps{
	font-size:24px;
	font-weight:700;
}
.gps-content{
	text-align:center;
	padding-top:25px;
}
.gps-list-content{
	display:flex;
}
.market-content-four{
	margin-top:20px;
	width : 100%;
    height: 300px;
    border: 1px solid #d3d3d3;
    display:flex;
}
.market-content-four ul li{
	padding-left:60px;
}
.four-title{
	width:200px;
	height:300px;
	background-color:#f1f1f1;
}
.sort-four-content{
	text-align:center;
	padding-top:120px;
}
.four-gpscon{
	padding-top:20px;
	display:flex;
}
.otherpay-sty{
	height:50px;
	width:40px;
	margin-left:100px;
	font-size:22px;
	border: 1px solid #d3d3d3;
	border-radius: 12px;
}
/* /////////////// */

.market-content-third{
	margin-top:20px;
	width : 100%;
    height: 140px;
    border: 1px solid #d3d3d3;
    display:flex;
	margin-bottom:20px;
}
.third-title{
	width:200px;
	height:140px;
	background-color:#f1f1f1;
}
.sort-choice{
	width:200px;
	font-size:24px;
	font-weight:700;
}
.sort-content{
	text-align:center;
	padding-top:50px;
}
.third-radio{	
	padding-top:40px;
	padding-left:60px;
	display:flex;
}
.third-radio label{
	width:110px;
	height:40px;
	border-radius: 12px;
	padding-top:10px;
	margin-left:15px;
	text-align:center;
	border: 1px solid #d3d3d3;
	font-size:20px;
	cursor:pointer; /* 손가락 표시 */
}
.third-radio label span{
	padding-left:20px;
}
.type-btn{
	opacity:0; /* 라디오버튼 동그라미 없애기 */
}
.kakaomap{
	margin-top:20px;
	margin-left:20px;
	float:right;
	width:350px;
	height:260px;
	padding-right:260px;
}
.address-input-first{
	width:200px;
	height:30px;
	border: 1px solid #d3d3d3;
	margin-top:5px;
	font-size:18px;
	padding-left:10px;
}
.country-input-first{
	width:200px;
	height:30px;
	border: 1px solid #d3d3d3;
	margin-top:5px;
	font-size:18px;
	padding-left:10px;	
}
.address-input{
	width:200px;
	height:30px;
	border: 1px solid #d3d3d3;
	margin-top:10px;
	font-size:18px;
	padding-left:10px;
}
.address-btn{
	width:212px;
	height:35px;
	margin-top:5px;	
	background-color:#fff;
	color:#000;
	border: 1px solid #d3d3d3;
	font-size:16px;
	padding-left:10px;
	cursor:pointer; /* 손가락 표시 */
}
.address-btn:hover{
	width:212px;
	height:35px;
	margin-top:5px;	
	background-color:#f7f7f7;
	color:#000;
	border: 1px solid #d3d3d3;
	font-size:16px;
	padding-left:10px;
	cursor:pointer; /* 손가락 표시 */
}
.long-check{
	padding-top:5px;
	width:55px;
	height:100px;
}
.s-checkbox{
	padding-top:10px;
	margin-left:20px;
	zoom: 1.5;
}
.option-otherarea{
	width:450px;
	font-size:20px;
	height:70px;
	border: 1px solid #d3d3d3;
	resize: none;
	padding-left:10px;
	padding-top:10px;
}
.image-content{
	height:500px;
}
.imageview{
	border-radius: 10px;
	width:200px;
	height:200px;
	float:center;
}
.task-tooltip {
  background-color: #eef3fd;
  border: #7689fd solid 1px;
  border-radius: 5px;
  color: #505bf0;
  font-size: 19px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.25px;
  margin-top: 6.8px;
  margin-bottom:20px;
  padding: 10px 11px;
  position: relative;
  width: fit-content;
  z-index: 100;
}

.task-tooltip::after {
  border-color: #eef3fd transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: '';
  display: block;
  left: 75px;
  position: absolute;
  top: -7px;
  width: 0;
  z-index: 1;
}

.task-tooltip::before {
  border-color: #7689fd transparent;
  border-style: solid;
  border-width: 0 6px 8px 6.5px;
  content: '';
  display: block;
  left: 75px;
  position: absolute;
  top: -8px;
  width: 0;
  z-index: 0;
}
.cktitle{
	width:99%;
	height:40px;
	padding-left:10px;
	margin-bottom:10px;
	border: 1px solid #d3d3d3;
}
.ck-content{
	height:400px;
}
.sign-btn{
	font-size:24px;
	margin-top:470px;
	width:500px;
	height:60px;
	background-color:#0092db;
	border:0.1px solid #0092db;
	color:#fff;
	font-weight: bold;
	display:inline-block;
	cursor:pointer; /* 손가락 표시 */
}
.sign-btn:hover{
	font-size:24px;
	margin-top:470px;
	width:500px;
	height:60px;
	background-color:#0088cc;
	border:0.1px solid #0088cc;
	color:#fff;
	font-weight: bold;
	display:inline-block;
	cursor:pointer; /* 손가락 표시 */
}
.country-btn{
	position: static;
	top:0;
	left:0;
	width:350px;
	float:right;
	margin: 10px 10px 0 0;
}
.country-btn p{
	height:30px;
	border:0.1px solid #d3d3d3;
	border-radius: 12px;
	float:right;
	font-size:16px;
	cursor:pointer; /* 손가락 표시 */
	padding:5px 10px 0 10px;
}
.country-btn p:hover{
	background-color:#d3d3d3;
}