@CHARSET "UTF-8";

/*====레이아웃====*/
div#main{
	width:100%;
	margin:0 auto;
	font-size:10pt;
	font-family:"맑은 고딕";
}
div#main_header{
	margin-bottom:10px;
	padding:0 10px 0 0;
}
div#main_menu{
	float:left;
	width:17%;
	min-height:400px;
}
div#main_body{
	float:left;
	width:78%;
	padding:5px 5px 30px 5px;
}
div#main_footer{
	clear:both;
	width:100%;
	background-color:yellow;
}

/*===메뉴===*/
div#main_menu ul{
	list-style:none;
}
div#main_menu ul li{
	margin-bottom:5px;
}

.page-main{
	width:98%;
	margin:0 auto;
}
.page-one{
	width:600px;
	margin:0 auto;	
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
/*메인*/
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:underline;
	color:#999999;
}
/*My Page*/
.mypage-div{
	width:48%;
	float:left;
	padding:5px;
}
.my-photo{
	object-fit:cover;
	object-position:top;
	border-radius:50%;
}
/*목록*/
form#search_form{
	border:none;
}
ul.search{
	width:500px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}
/*글 상세*/
.detail-img{
	max-width:500px;
}
div#reply_div{
	padding:5px 10px 40px 10px;
	margin-top:10px;
	background-color:#eeeeee;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:90%;
	height:50px;
	margin:10px 10px;
}
div#re_first, div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loadding{
	width:100px;
	height:50px;
	position:absolute;
	top:50%;
	left:50%;
	transfrom:translate(-50%,-50%);
	display:flex;
	align-items:center;
	justify-content:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:none;
	margin:5px;
}
/*CKEditor 사용시 등록, 수정폼*/
form#register_form, form#update_form{
	width:700px;
}
ul{
	list-style:none;
}
label{
	width:100px;
	float:left;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:200px;
}
#register_form input[id="id"]{
	width:113px;
}
input[id="zipcode"]{
	width:95px;
}
.error-color{
		color:red;
}

/* 헤더 스타일 */
.main-title{
	float:left;
	font-size:22px;
	padding-top:3%;
	padding-left:10%;
}
.main-menu{
	float:right;
	display:inline-block;
	font-size:22px;
	padding-top:3%;
	padding-right:10%;
}
.sub{
	padding-left:50px;
	padding-top:10px;
	position: relative;
	border: solid 1px #d3d3d3; 
}
.sub li{
	padding-bottom:20px;	
	
}

/* 회원가입 박스 */
.sign-box{
	position:absolute;
	width:800px;
	height:900px;
	top:50%;
	left:50%;
	margin:-400px 0 0 -450px;
	border: solid 1px #f7f7f7;
	text-align:left;
}
.sign-box h3{
	font-size:40px;
	padding-bottom:50px;
}
.sign-content{
	font-size:22px;
	padding-top:20px;
}
.sign-in-box{
	padding-left:150px;
	padding-top:100px;
	padding-bottom:500px;
	display: inline-block;
}
/* 구분선 스타일 */
hr{
	border:0.1px solid #f7f7f7; 
}

.sign-in-box label{
	font-size:22px;
	font-weight:700;
	width:200px;
}

.sign-label{
	padding-bottom:10px; 
	padding-top:30px;
}

.sign-in-box input{
	margin-top:20px;
	width:500px;	
	height:50px;
	border:0.1px solid #d3d3d3;
}
.sign-btn{
	font-size:18px;
	margin-top:20px;
	width:500px;
	height:60px;
	background-color:#326cf9;
	color:#fff;
}
.sign-btn:hover{
	background-color:#2e61dc;	
	cursor:pointer;
}
/* 로그인모달창 백그라운드 */
.modal-bg{
	display:none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}

.login-modal{
	position: absolute;
	left:calc(50% - 450px);
	top:calc(50% - 350px);
	width:900px;
	height:700px;
	background:#fff;
	border-radius: 10px;
}
.login-form{
	position: absolute;
	left:calc(50% - 250px);
	top:calc(50% - 300px);	
}
.login-form input{
	margin-top:20px;
	margin-bottom:20px;
	width:500px;	
	height:70px;
	border-radius: 10px;
	border: 1px solid #d3d3d3;
}
.login-form b{
	padding-bottom:500px;	
}
.login-title{
	font-size:50px;	
}
.login-content{
	font-size:25px;	
}

.modal-header{
	height:5%;
	/* background-color:#f7f7f7; */
	font-size:15px;
}
.exit-img{
	cursor:pointer;
	float:right;		
}
.mypage-out{
	display:flex;
	width:100%;
}
.mypage-in{
	padding-left:300px;
	padding-top:100px;
}
.mypage-out h1{
	font-size:45px;
}
.nick-name{
	padding-left:300px;
	padding-top:80px;
}
.nick-name label{
	font-size:30px;
	font-weight:bold;
}
.nick-input input{
	margin-left:200px;
	width:200px;
	height:50px;
	margin-bottom:50px;
}
/* 구분선 */
.nick-hr{
	border: 0;
    display: block;
    width: 98%;
    background-color: grey;
    height: 1px;
}
.nick-hr-div{
	padding-top:60px;
}

.modal-bg2{
	display:none;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}

.userDelete-modal{
	display:none;
	position: absolute;
	left:calc(50% - 325px);
	top:calc(50% - 250px);
	width:750px;
	height:500px;
	background:#fff;
	border-radius: 10px;
}
.del-title{
	font-size:20px;
}
.del-title-sub{
	font-size:18px;
}
.delete-form{
	padding-left:50px;
	padding-top:50px;
}
.delete-passwd{
	width:50px;
	height:30px;
}









































































































